.post-img    {
  width: 100%;
  height: 45px;
  overflow: hidden;
}
.content {
  height: 395px;
  display: flex;
  margin-top: 23px;
  margin-left: 7.5%;
  padding: 1%;
  position: relative;
}
.content::after {
  content: " ";
  background-image: url("../img/img5.jpg");
  position:static;
  width: 100%;
  height: inherit;
  opacity: 0.50;
}
